* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 15px;
}

.banner__text {
    line-height: 21px;
    letter-spacing: 0%;
    color: #fafafa;
    margin-left: 445px;
}

.banner__link {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
    text-decoration: underline;
    margin-left: 8px;
}

.language__selector {
    background-color: transparent;
    margin-left: 232px;
    color: #fafafa;
    border: none;
    outline: none;
    cursor: pointer;
}

.language__selector-select {
    background-color: #000;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 40px auto 0 auto;
}

.logo__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    font-family: Inter;
}

.menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu-li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    list-style: none;
}

.menu-a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
    border-bottom: solid 2px transparent;
}

.menu-a:hover {
    border-bottom: 2px solid #7f7f7f;
}

.active {
    border-bottom: 2px solid #7f7f7f;
}

.search {
    display: flex;
    align-items: center;
}

.search__input {
    background-color: #F5F5F5;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px 60px 10px 20px;
}

.search__button {
    background-color: transparent;
    border: none;
    position: relative;
    right: 35px;
    top: 2px;
    cursor: pointer;
}

.saved__icon {
    margin-left: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.saved__icon:hover {
    transform: scale(1.1);
}

.saved__icon:active {
    transform: scale(1);
}

.cart__icon {
    margin-left: 26px;
    cursor: pointer;
    transition: all 0.3s;
}

.cart__icon:hover {
    transform: scale(1.1);
}

.cart__icon:active {
    transform: scale(1);
}

.line {
    width: 1520px;
    height: 0.8px;
    background-color: #B3B3B3;
    margin-top: 16px;
}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 26px auto 0 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -26px;
    gap: 16px;
    width: 245px;
    padding-top: 50px;
    border-right: solid 0.8px #B3B3B3;  
}

.sidebar__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 218px;
    cursor: pointer;
}

.sidebar__a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;     
}

.arrow__icon {
    transition: all 0.3s;
}

.sidebar__li:hover .arrow__icon {
    transform: translateX(10px);
}


.slideshow {
    display: none;
    justify-content: space-between;
    width: 892px;
    height: 344px;
    background-color: #000;
    margin-top: 20px;
}

.slideshow.active {
    display: flex;
}

.slideshow__div {
    margin: 40px 0 0 60px;
}

.apple {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}

.series {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #F5F5F5;
}

.slide__text {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
    color: #F5F5F5;
    margin-bottom: 22px;
}

.slide__button {
    display: flex;
    align-items: center;
    width: 114px;
    gap: 8px;
    text-decoration: none;
    color: #fff;
}

.slide__button:hover :nth-child(1) {
    border-bottom: 1px solid #fff;
}

.slide__img {
    margin-top: 16px;
}

.slider {
    margin-top: -35px;
    margin-left: 365px;
}

.slider__indicators {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #808080;
    border: solid 2px transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.slider__indicators:hover {
    border: solid 2px white;
    background-color: #DB4444;
}

.indicators-actv {
    border: solid 2px white;
    background-color: #DB4444;
} 

.slide__image {
    width: 496px;
}

section {
    max-width: 1170px;
    margin: 140px auto 0 auto;
    border-bottom: solid 1px #B3B3B3;
}

.sales {
    display: flex;
    justify-content: space-between;
}

.sales__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top__more {
    display: flex;
    align-items: center;
    gap: 16px;
}

.color {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.top__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #DB4444;
}

.title__more {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
}

.sales__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 470px;
    margin-top: 44px;
}

.section__title {
    display: flex;
    align-items: center;
    gap: 17px;
}

.slide__image {
    margin-top: 16px;
}

.title__time {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sales__timer {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.sales__timer-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
}

.image-dots {
    margin-top: 20px;
}

.navigation__buttons {
    display: flex;
    gap: 8px;
}

.prev__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.prev__btn:hover {
    transform: scale(1.2);
}

.prev__btn:active {
    transform: scale(1);
}

.next__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.next__btn:hover {
    transform: scale(1.2);
}

.next__btn:active {
    transform: scale(1);
}

.products-cards {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    overflow: auto;
    white-space: nowrap;
}

.products-cards .products {
    display: inline-block;
}

.product__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: relative;
}

.product__item:hover .add-to-cart-btn {
    display: block;
}

.add-to-cart-btn {
    width: 270px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: none;
}

.add-to-cart-btn.added {
    background-color: green;
    color: white;
}

.product__discount {
    background-color: #DB4444;
    padding: 4px 12px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.wishlist__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.3s;
}

.wishlist__btn:hover {
    transform: scale(1.2);
}

.view__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 54px;
    right: 12px;
    transition: all 0.3s;
}

.view__btn:hover {
    transform: scale(1.2);
}

.product__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.current__price {
    color: #DB4444;
}

.original__price {
    color: #7F7F7F;
    text-decoration: line-through;
}

.product__rating {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.rating__count {
    font-weight: 600;
    font-size: 14px;    
    line-height: 21px;
    letter-spacing: 0%;
    color: #7f7f7f;
}   

.modal {
    position: relative;
   top: 0;
   left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 9999;

}

.modal.hidden {
    display: none;
}

.modal__overlay {
    display: none;
}

.modal__content {
    background-color: white;
    padding: 40px 20px;
    border-radius: 0;
    width: 100vh;
    height: 100vh;
    max-width: none;
    max-height: none;
    overflow-y: auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.modal__image {
    max-width: 300px;
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.modal__name {
    font-size: 28px;
    margin: 20px 0;
}

.modal__price {
    font-size: 20px;
    margin: 10px 0;
}

.modal__rating {
    font-size: 20px;
    margin: 10px 0;
}

.products__button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.products__button-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.products__button-btn:hover {
    transform: scale(1.1);
}

.products__button-btn:active {
    transform: scale(1);
}

.categories {
    max-width: 1170px;
    margin: 80px auto 0 auto;
    border-bottom: solid 1px #B3B3B3;
}

.category {
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.category__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #DB4444;
}

.category__badge {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
}

.navigation__buttons-2 {
    display: flex;
    gap: 8px;
    margin-top: 60px;
}

.category__item {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 145px;
    border: solid 2px #B3B3B3;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.category__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 12px;
}

.item:hover {
    background-color: #DB4444;
    border: solid 2px #DB4444;
}

.item:hover .category__name {
    color:  white;
}

.item:hover .category__icon path {
    color: white;
    stroke: white;
}

.item:hover .category__icon line {
    stroke: white;
}

.best {
    max-width: 1170px;
    margin: 70px auto 0 auto;
}

.best__top {
    display: flex;
    justify-content: space-between;
}

.best__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #DB4444;
}

.best__badge {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
}

.best__btn {
    width: 159px;
    height: 56px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.best__btn:hover {
    transform: scale(1.1);
}

.best__btn:active {
    transform: scale(1);
}

.cards__container {
    display: flex;
    gap: 30px;
    margin-top: 40px;  
}

.card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: relative;
}

.card__item:hover .add-to-cart-btn {
    display: block;
}

.card__discount {
    background-color: #DB4444;
    padding: 4px 12px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}

.card__price {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.card__rating {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.offer {
    display: flex;
    width: 1170px;
    height: 500px;
    background-color: #000;
    margin: 140px auto 70px auto;
    position: relative;
}

.offer__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #00FF66;
    position: absolute;
    top: 69px;
    left: 56px;
}

.offer__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
    position: absolute;
    color: white;
    top: 121px;
    left: 56px;
}

.offer__timers {
    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 273px;
    left: 56px;
}

.timers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: white;
}

.timer {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.timer-item {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0%;
}

.offer__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #00FF66;
    padding: 16px 48px;
    color: white;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 375px;
    left: 56px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.offer__button:hover {
    transform: scale(1.1);
}

.offer__button:active {
    transform: scale(1);
}

.offer__img {
    z-index: 1;
    position: absolute;
    top: 82px;
    right: 60px;
}

.offer__img2 {
    z-index: auto;
    right: 10px;
    position: absolute;
}

.our-products {
    max-width: 1170px;
    margin: 0 auto;
}

.our__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: relative;
}

.our__item:hover .add-to-cart-btn {
    display: block;
}

.item__discount {
    background-color: #00FF66;
    padding: 4px 12px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.item__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}

.item__price {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.item__rating {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.our-products__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
}

.items {
    display: flex;
    gap: 30px;
}

.card-color {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.card-color-active-1 {
    background-color: #FB1314;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.card-color-active-1:focus-within {
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -4px;
}

.card-color-active-2 {
    background-color: #DB4444;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.card-color-active-2:focus-within {
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -4px;
}

.card-color-active-3 {
    background-color: #EEFF61;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.card-color-active-3:focus-within {
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -4px;
}

.card-color-active-4 {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.card-color-active-4:focus-within {
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -4px;
}

.card-color-active-5 {
    background-color: #184A48;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.card-color-active-5:focus-within {
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -4px;
}

.new-arrival-section {
    max-width: 1170px;
    margin: 80px auto 0 auto;
}

.new-arrival-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #DB4444;
}

.new-arrival-badge {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    margin-top: 20px;
}

.new-arrival-grid {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.new-arrival-item {
    background-color: #000;
    width: 560px;
    height: 600px;
    position: relative;
    border-radius: 4px;
}

.new-arrival-image {
    position: absolute;
    top: 89px;
    left: 30px;
    z-index: auto;
}

.new-arrival-title {
    position: absolute;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
    top: 446px;
    left: 32px;
    z-index: 1;
}   

.new-arrival-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    position: absolute;
    top: 486px;
    left: 32px;
    color: #fafafa;
}

.shop-now-btn {
    position: absolute;
    top: 544px;
    left: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
}

.shop-now-btn:hover {
    text-decoration: underline;
}

.new-arrival-item-2 {
    background-color: #000;
    width: 570px;
    height: 284px;
    position: relative;
    border-radius: 4px;
}

.new-arrival-image-2 {
    position: absolute;
    left: 138px;
    z-index: auto;
}

.new-arrival-title-2 {
    position: absolute;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
    top: 138px;
    left: 24px;
    z-index: 1;
}   

.new-arrival-description-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    position: absolute;
    top: 178px;
    left: 24px;
    color: #fafafa;
}

.shop-now-btn-2 {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
}

.shop-now-btn-2:hover {
    text-decoration: underline;
}

.new-arrival-item-3 {
    background-color: #000;
    width: 270px;
    height: 284px;
    position: relative;
    border-radius: 4px;
}

.new-arrival-image-3 {
    position: absolute;
    top: 31px;
    left: 40px;
    z-index: 1;
}

.new-arrival-title-3 {
    position: absolute;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
    top: 175px;
    left: 24px;
    z-index: 2;
}   

.new-arrival-description-3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    position: absolute;
    top: 207px;
    left: 24px;
    color: #fafafa;
    z-index: 2;
}

.shop-now-btn-3 {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
    z-index: 2;
}

.shop-now-btn-3:hover {
    text-decoration: underline;
}

.new-arrival-image-3-1 {
    position: absolute;
    z-index: auto;
}

.new-grid-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-grid-2 {
    display: flex;
    gap: 30px;
}

.services {
    max-width: 1170px;
    margin: 140px auto 140px auto;
    display: flex;
    justify-content: center;
    gap: 88px;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.services__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.up-button {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: none;
    transform: rotate(-90deg);
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.up-button.show {
    display: block;
}

.up-btn-img {
    margin-top: 4px;
}

.footer {
    background-color: #000;
}

.footer-container {
    display: flex;
    gap: 87px;
    padding-top: 80px;
    margin-left: 135px;
    padding-bottom: 60px;
}

.footer__logo {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
}

.form__title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FAFAFA;
}

.form__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    margin-top: 24px;
}

.form__input-box {
    display: flex;
    margin-top: 16px;
}

.form__input {
    padding-left: 16px;
    padding-right: 60px;
    width: 160px;
    outline: none;
    height: 48px;
    background-color: transparent;
    border: solid 1.5px #FAFAFA;
    border-radius: 4px;
    color: #FAFAFA;
}

.form__input-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    right: 35px;
    top: 2px;
}

.footer__content {
    display: flex;
    gap: 87px;
}

.footer__content-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FAFAFA;
}

.footer__content-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
    color: #FAFAFA;
}   

.footer__content-links {
    text-decoration: none;
    list-style: none;
}

.footer__content-links li {
    margin-top: 16px;
}

.footer__links-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #FAFAFA;
}

.app-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FAFAFA;
}

.app-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #afafaf;
    margin-top: 24px;
}

.qr-box {
    display: flex;
    gap: 10px;
}

.store-box {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.store-buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.store-buttons:hover {
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

.social-btn {
    border: none;
    background-color: transparent;
}

.footer-line {
    width: 1520px;
    height: 0.8px;
    background-color: #141414;
}

.copyright-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 16px;
    padding-bottom: 24px;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #3d3d3d;
}

.signup {
    display: flex;
    gap: 129px;
    margin-top: 60px;
}

.signup__card {
    margin: 125px auto;
}

.signup__card-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
}

.signup__card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.signup__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;
}

.signup__form-input {
    outline: none;
    border: none;
    border-bottom: solid 1px #7F7F7F;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.create__account-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.create__account-btn:hover {
    transform: scale(1.1);
}

.create__account-btn:active {
    transform: scale(1);
}

.google__signup-btn {
    display: flex;
    gap: 16px;
    align-items: center;    
    padding: 16px 86px;
    border: solid 1px #999999;
    background-color: transparent;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.google__signup-btn:hover {
    transform: scale(1.1);
}

.google__signup-btn:active {
    transform: scale(1);
}

.google__signup-btn-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.login-box {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    gap: 16px;
}

.login__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4d4d4d;
}

.login__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4d4d4d;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    transition: all 0.3s;
}

.login__link:hover {
    border-bottom: solid 2px #4d4d4d;
}

.footer {
    margin-top: 140px;
}

.login {
    display: flex;
    margin-top: 60px;
    gap: 129px;
}

.login-card {
    margin: 227px auto;
}

.login-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
}

.login-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 40px;
}

.login__form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 8px;
    border: none;
    border-bottom: solid 1px #7F7F7F;
    outline: none;
}

.login__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.login__btn:hover {
    transform: scale(1.1);
}

.login__btn:active {
    transform: scale(1);
}

.forgot-card {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 87px;
}

.forgot-password-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%; 
    color: #DB4444;
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    transition: all 0.3s;  
}

.forgot-password-link:hover {
    border-bottom: 2px solid #DB4444;
}

.user-icon {
    margin-left: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.user-icon:hover {
    transform: scale(1.1);
}

.user-icon:active {
    transform: scale(1);
}

.wishlist-box {
    max-width: 1170px;
    margin: 80px auto;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-head {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}

.wishlist-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 16px 48px;
    background-color: transparent;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.wishlist-btn:hover {
    transform: scale(1.1);
}

.wishlist-cards {
    margin-top: 60px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.wishlist__btn.active img {
    filter: invert(34%) sepia(96%) saturate(574%) hue-rotate(316deg) brightness(93%) contrast(101%);
}

.wishlist__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: relative;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 270px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.delete__icon {
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.delete__icon:hover {
    transform: scale(1.1);
}

.wishlist__discount {
    background-color: #DB4444;
    padding: 4px 12px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.wishlist__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}


.wishlist__price {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.wishlist-cards {
    display: flex;
    gap: 30px;
}

.suggestions-box {
    max-width: 1170px;
    margin: 0 auto;
}

.suggestions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}

.suggestions-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 16px 48px;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.suggestions-btn:hover {
    transform: scale(1.1);
}

.suggestions__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: relative;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 270px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
    background-color: #000;
    border: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.delete__icon {
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.suggestions__discount {
    background-color: #DB4444;
    padding: 4px 12px;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.suggestions__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}

.body {
    position: relative;
}   

.suggestions__price {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.view__btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.3s;
}

.view__btn-1:hover {
    transform: scale(1.2);
}

.suggestions__rating {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.suggestions {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.account-icon {
    margin-left: 24px;
}

.modal {
    position: fixed;
    width: 100vh;
    top: 1px;
    right: -10px;
}

.modal__list {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 95px;
    right: 185px;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}

.modal__list:checked+.modalka {
    transform: scale(1);
}

.modal-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modalka {
    position: absolute;
    display: flex;
    align-items: center;
    width: 192px;
    height: 180px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(117, 114, 114, 0.5);
    backdrop-filter: blur(20px);   
    transform: scale(0);
    transition: all 0.3s;
    right: 200px;
    top: 130px;
}

.modal-li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.modal-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #FAFAFA;
}

.cartpage-box {
    max-width: 1170px;
    margin: 80px auto;
}

.cartpage-head {
    display: flex;
    gap: 12px;
}

.home {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #7f7f7f;
    text-decoration: none;
}

.slash {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #7f7f7f;
}

.cart {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.cartpage {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1170px;
    margin-top: 80px;
}

.cartpage__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    box-shadow: 0px 1px 13px 0px #0000000D;
}

.cartpage__image {
    position: relative;
    width: 70px;
    height: 70px;
}

.image-cart-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-cart-2 {
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: auto;
}

.cartpage-img {
    display: flex;
    align-items: center;
}

.cartpage__input {
    width: 48px;
    height: 32px;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    padding: 6px 12px;
    outline: none;
}

.cartpage-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.return-shop-btn {
    padding: 16px 48px;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.update-cart-btn {
    padding: 16px 48px;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.coupon-box {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



.coupon__input {
    padding: 16px 164px 16px 24px;
    outline: none;
    border: solid 1px #7f7f7f;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}

.coupon__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 16px 48px;
    background-color: #DB4444;
    border-radius: 4px;
    border: none;
    color: #FAFAFA;
    cursor: pointer;
    margin-left: 16px;
}

.cart-total {
    width: 438px;
    height: 300px;
    border: solid 1.5px black;
    border-radius: 4px;
    padding: 32px 24px;
}

.cart-total__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%; 
}

.subtotal-box {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #7F7F7F;
    padding-bottom: 16px;
}

.total-box {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 16px;
} 

.checkout-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 48px ;
    margin-left: 89px;
}

.breadcrump {
    max-width: 1170px;
    margin: 80px auto;
}

.breadcrump__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
}

.breadcrump__link {
    text-decoration: none;
    color: #7F7F7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.active-a {
    color: black;
}

.billing {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
}

.billing-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 470px;
    margin-top: 48px;
}

.billing-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.billing-label {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #999999;
}

.red-star {
    color: #DB4444;
}

.billing-input {
    height: 50px;
    background-color: #F5F5F5;
    border-radius: 4px;
    outline: none;
    border: none;
}

.checkbox-box {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.billing-checkbox {
    accent-color: #db4444;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.billing-check-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.summary-cart {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
}

.summary-box {
    /* width: 527px; */
    margin-top: 100px;
}

.subtotal-card {
    width: 422px;
}

.summary-box__head {
    width: 422px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.summary__product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    width: 427px;
    margin-top: 24px;
}

.payment-method-radio {
    display: flex;
    gap: 16px;
    align-items: center;
}

.radio {
    width: 24px;
    height: 24px;
    accent-color: black;
}

.pay-images {
    display: flex;
    gap: 8px;
}

.cash-box {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    align-items: center;
}

.apply-coupon {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    height: 56px;
}

.coupon-input {
    padding: 16px 164px 16px 24px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.coupon-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    background-color: #DB4444;
    border-radius: 4px;
    border: none;
    padding: 0 38px;
    cursor: pointer;
}   

.summary-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 48px;
    margin-top: 32px;
}

.breadcrump {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-box {
    display: flex;
    gap: 4px;
}

.welcome {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.welcome-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #DB4444;
}



.account-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.account-section {
    list-style: none;
    margin: 16px 0 24px 35px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.account-active-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #DB4444;
}

.account-menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #7F7F7F;
}

.edit-profile {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

.profile-edit-form {
    box-shadow: 0px 1px 13px 0px #0000000D;
    padding: 40px 80px;
    width: 710px;
}

.profile-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #DB4444;
}

.profile-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.profile-input {
    background-color: #F5F5F5;
    padding-left: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 8px;
    width: 314px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.profile-input-box {
    margin-top: 16px;
}

.input-cards {
    display: flex;
    gap: 50px;
}

.input-cards-2 {
    display: flex;
    gap: 50px;
    margin-top: 24px;
}

.password-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.password-input {
    background-color: #F5F5F5;
    padding: 13px 0 13px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.edit-form-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.cancel-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.save-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 48px;
}

.about-box {
    display: flex;
}

.about {
    margin: 179px auto 0 auto;
    max-width: 1170px;
}

.about__title {
    font-family: Inter;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 6%;
    text-align: justify;
    margin-bottom: 40px;
}

.about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.statistics {
    max-width: 1170px;
    margin: 140px auto;
    display: flex;
    gap: 30px;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #B3B3B3;
    border-radius: 4px;
    width: 270px;
    transition: all 0.3s;
    height: 230px;
    cursor: pointer;
}

.statistics__icon {
    transition: all 0.3s;
    margin-bottom: 24px;
}

.statistics__number {
    margin-bottom: 12px;
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    transition: all 0.3s;
    letter-spacing: 4%;
}

.statistics__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.3s;
}

.statistics__item:hover {
    background-color: #DB4444;
}

.statistics__item:hover .statistics__number {
    color: #fafafa;
}

.statistics__item:hover .statistics__desc {
    color: #FAFAFA;
}

.statistics__item:hover .statistics__icon path {
    stroke: black;
    fill: white;
}

.statistics__item:hover circle {
    fill: white;
}

.team {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.team__name {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    margin-top: 32px;
}

.team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.team__socials {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}

.slider-2 {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 40px;
}

.slider__indicators-2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #808080;
    border: solid 2px transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.slider__indicators-2:focus {
    border: solid 2px gray;
    background-color: #DB4444;
    outline: 2px solid white;
    outline-offset: -2px;
}

.indicators-actv-2 {
    border: solid 2px gray;
    outline: 2px solid white;
    background-color: #DB4444;
    outline-offset: -2px;
}   

.contact-box {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.contact {
    padding: 35px 40px;
    box-shadow: 0px 1px 13px 0px #0000000D;
    width: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.contact-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.contact-icon :nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.contact-detailes {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.contact-number {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    padding-bottom: 32px;
    border-bottom: solid 1px #7f7f7f;
}

.contact-number :nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.contact-number :nth-child(2) {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
   
}

.contact-icon-2 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.contact-icon-2 :nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.contact-email :nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.contact-email :nth-child(2) {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.contact__item-2 {
    margin-top: 32px;
}

.contact-form {
    width: 737px;
    box-shadow: 0px 1px 13px 0px #0000000D;
    border-radius: 4px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.contact-input-box {
    display: flex;
    gap: 16px;
}

.contact-input {
    padding: 13px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #F5F5F5;
    width: 235px;
}

.contact-textarea {
    border: none;
    outline: none;
    background-color: #F5F5F5;
    resize: none;
    height: 200px;
    border-radius: 4px;
    margin-top: 32px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 13px 16px;
}

.send-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    background-color: #DB4444;
    color: #FAFAFA;
    border: none;
    border-radius: 4px;
    padding: 16px 48px;
    margin-top: 32px;
    cursor: pointer;
    width: 215px;
    margin-left: 522px;
}

.product-section {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.product-img-section {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F5F5F5;
    border-radius: 4px;
    width: 470px;
    height: 690px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-display {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px;
}


.thumbnail-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 4px;
    padding: 30px 15px ;
}

.thumbnail-images {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 20px 25px;
    border: none;
}

.thumbnail-images.active {
    outline: 3px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    background-color: #F5F5F5;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-name {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.product-rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rating-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #7F7F7F;
}

.product-availability {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #00FF66;
    padding-left: 8px;
    border-left: 2px solid #7F7F7F;
}

.product-price {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.product-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    padding-bottom: 24px;
    border-bottom: 1.5px solid #7F7F7F;
}

.product-colours {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.product-colours :nth-child(1) {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3%;
}

.color-btn-1 {
    border: 1px solid transparent;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #A0BCE0;
}

.color-btn-1:focus {
    border: 2px solid black;
    outline: 2px solid white;
    outline-offset: -3.5px;
}

.color-btn-2 {
    border: 1px solid transparent;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E07575;
}

.color-btn-2:focus {
    border: 2px solid black;
    outline: 2px solid white;
    outline-offset: -3.5px;
}

.product-size {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 24px;
}

.product-size :nth-child(1) {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3%;
}

.size-btn {
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    background-color: transparent;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.size-btn:focus {
    background-color: #DB4444;
    color: #FAFAFA;
    border: 1px solid #DB4444;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-box {
    margin-top: 24px;
}

.quantity-num {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 8px 34px;
    border: solid 1px #7F7F7F;
}

.icon-minus {
    padding: 10px 8px;
    border: solid 1px #7F7F7F;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.3s;
}

.icon-plus {
    padding: 10px 8px;
    border: solid 1px #7F7F7F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.icon-minus:hover {
    background-color: #DB4444;
    border: solid 1px #DB4444;
}

.icon-minus:hover path {
    stroke: white;
}

.icon-plus:hover {
    background-color: #DB4444;
    border: solid 1px #DB4444;
}

.icon-plus:hover path {
    stroke: white;
}

.product-by-btn {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FAFAFA;
    /* padding: 10px 48px; */
    width: 165px;
    height: 44px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}   

.quantity-box {
    display: flex;
    gap: 16px;
    align-items: center;
}

.wishlist__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.product-delivery {
    margin-top: 40px;
}

.delivery-box {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 24px 51px 16px 16px;
    border: solid 1px #7F7F7F;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.delivery-desc :nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.delivery-desc :nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration: underline;
}

.return-box {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 24px 51px 16px 16px;
    border: solid 1px #7F7F7F;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.return-desc :nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.return-desc :nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.return-underline {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration: underline;
}

.related-section {
    max-width: 1170px;
    margin: 140px auto 0 auto;
}

.reladet-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #DB4444;
}

.reladet-cards {
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.selected-color {
    border: 2px solid black;
    outline:  2px solid white;
    outline-offset: -3.5px;
}